name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on:
    - ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - name: cmake
      run: cmake .    
    - name: make
      run: make
    - name: test script
      run: make test
    - uses: actions/upload-artifact@v2
      with:
        name: shared object
        path: libgeohash.so
