name: Build Wheels for Manylinux x86_64

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] #, ubuntu-24.04-arm, macos-15-intel, macos-latest]

    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS_LINUX: "x86_64"
          #CIBW_ARCHS_LINUX: "aarch64"
          CIBW_SKIP: "*-musllinux*"
          CIBW_BUILD: "*-manylinux*"


      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

